VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# continue responsiveness in navya0905@gmail.com

# TODO : playright testing

# TODO : small user queries bugs sometimes has to fix.

# TODO : responsiveness issues while, deploying and use in mobilephone 

# TODO IMPORTANT!!: ResendAPI, Google Calendar setup and Oauth setup, make login seprate for therapist and admin