VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# CONTINUE CHAT IN navya28982@gmail.com for tool parsing 
# continue chat in gourvis9@gmail.com to add therapist layer 
# continue responsiveness in navya0905@gmail.com


# TODO : playright testing

# TODO : small user queries bugs sometimes has to fix.

# TODO : responsiveness issues while, deploying and use in mobilephone 